p {
  display: flex;
  align-items: center;
  gap: 5px;
  background: url('./img/Dirt_background.webp') no-repeat;
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.status-only {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 15px;
}